* {
  margin: 0px;
}
body {
  border: 4px grey;
}

header {
  background-color: #e5c07b;
  text-align: center;
}
header section {
  margin-left: 190px;
  margin-right: 190px;
  font-size: large;
}
#titulo {
  padding-top: 20px;
  padding-bottom: 30px;
}
.borda {
  border: 30px #4e2a1c solid;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 100px;
  padding-bottom: 60px;
  background-color: #8b5a2b;
}
main {
  background-color: ;
  padding: 50px; /* espaçamento entre o card de cima e de baixo com o footer e header */
  background-color: #e5c07b;
}
.fotos img {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 2px black solid;
  border-radius: 20px;
}
.fotos {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  border: 4px #4e2a1c solid;
  border-radius: 20px;
  background-color: #f5f5dc;
  padding-top: 20px; /* espaçamento de cima da imagem e a borda*/
  margin-bottom: 40px; /* espaçamento entre os cards*/
}
footer {
  padding-right: 190px;
  padding-left: 190px;
  background-color: #e5c07b;
  text-align: center;
  font-size: large;
  padding-bottom: 40px; /* espaçamento entre o final do footer e fim da página */
}
div {
  padding: 20px;
}
